@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
}
<h2 class="text-dark"><strong>Delete User</strong></h2>

<form asp-action="Delete" method="post" id="user-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h3>@ViewBag.message</h3>
        <div class="form-group row">
            <div class=" col-lg-2 col-sm">
                <strong>  <label asp-for="UserName"></label></strong>
            </div>
            <div class="col-lg-5 col-sm">
                <input asp-for="UserName" readonly="readonly" class="form-control" type="email" />
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2 col-sm">
                <strong> <label asp-for="FirstName"></label></strong>
            </div>
            <div class="col-lg-5 col-sm">
                <input asp-for="FirstName" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2 col-sm">
                <strong>  <label asp-for="LastName"></label></strong>
            </div>
            <div class="col-lg-5 col-sm">
                <input asp-for="LastName" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">

            @*------------------------------------------------------------*@

            <!-- Button trigger modal -->
            <button type="button" style="border-radius:10px" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="staticBackdropLabel">Delete Product Type</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            <img src="~/assets/images/shock-3-578101.png" alt="Shock" style="height:150px;width:150px;" />
                            <strong> You will Delete this User !</strong>
                            <br />
                            <h3 class="text-center text-danger">
                                 Sure wanna delete it?
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            <input type="submit" style="border-radius:10px" class="btn btn-danger" value="Delete" />
                        </div>
                    </div>
                </div>
            </div>
            <a asp-action="Index" style="border-radius:10px" class="btn btn-success">Back To List</a>
        </div>
    </div>
</form>

@section Scripts
    {
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial"); }
<script>
    $(document).ready(function () {
        $("#user-form").validate({
            rules: {
                UserName: {
                    required: true,
                },
                PasswordHash: {
                    required: true,
                }
            }, messages: {
                UserName: "Enter Your Email "
                ,
                PasswordHash: "Enter Your Password "
            }

        });
    });
</script>
}